$primary: rgba(90, 82, 82, 0.87); 
$secondary: #6e6667;
$tertiary: #ffba1ee8;
$bgcolor: #f7f7f7;
$white: #ffffff;
$boxShadow: 0px 0px 50px 0px rgba(119, 121, 123, 0.15);




// Spacing
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
    (
        0: 0,
        1: ($spacer * 0.25),
        2: ($spacer * .5),
        3: ($spacer * 1),
        4: ($spacer * 1.5),
        5: ($spacer * 3)
    ),
    $spacers
 )