//Vendor
// @import "scss/vendor/";

//Abstracts
@import "scss/abstracts/fonts";
@import "scss/abstracts/mixins";
@import "scss/abstracts/variables";

//Base Styles
@import "scss/base/reset";
@import "scss/base/typography";

//Components
@import "scss/components/button";
@import "scss/components/input";
@import "scss/components/modal";

//Layout
@import "scss/layouts/footer";
@import "scss/layouts/main-navigation.scss";
@import"./fonts/Montserrat-Medium.ttf";

*,
*::after,
*::before{
    box-sizing: border-box;
}
body {
    background-color: $bgcolor;
    color: $textColor;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(./fonts/Montserrat-Medium.ttf);
  }
h1,
h2,
h3,
h4,
h5,
h6{
    color: $primary;
    font-family: 'Montserrat-Medium';
}
p,.MuiTypography{
    font-family: 'Montserrat-Medium'!important;
}
  body {
    font-family: 'Montserrat-Medium';
  }
.text-capital { text-transform: uppercase; }
.m-20{margin: 20px;}
.m-0 {margin: 0;}
.mb-0 {margin-bottom: 0;}
.line-h-28 {line-height: 28px;}
.font-14{font-size: 14px;}
.font-36{font-size: 36px;}
.f-30{font-size: 30px!important;}
.d-flex {display: flex;}
.justify-between {justify-content: space-between;}
.bg-white {background-color: white;}
.justify-center {justify-content: center;}
.h1-title {font-size: 24px;} 
.main-card { background-color: #fafafa; }
.main-wrapper {margin: 40px 15px;}
.text-decoration-none {text-decoration: none;}
.p-relative {position: relative;}
.b-radius {border-radius: 15px!important; }
.d-block {display: block;font-weight: 600;}
.t-center {text-align: center;}
.t-right {text-align: right;}
.label-color {color: #929294; }
.label-f-size {font-size: 13px; }
.f-bold{font-weight: bold;}
.f-w-500 {font-weight: 500;}
.mb-16{margin-bottom: 16px!important;}
.mt-16{margin-top:16px;}
.p-15{padding:0 24px 24px;}
.mb-10{margin-bottom: 10px!important;}
.p-0{padding:0!important};
.m-20{margin:20px;}
.mt-30{margin-top:30px;}
.w-100{width: 100%}
.ml-10{margin-left: 10px!important;}
.mt-16{margin-top:16px;}
.border-top{border-top:1px solid gainsboro}
.h-34{height: 34px;}
.p-8{padding: 8px;}
.p-16{padding:16px 0!important;}
.p-20{padding:20px!important;}

.pt-0{padding-top:0!important;}
.pb-0{padding-bottom: 0!important;}
.mr-10{margin-right: 10px!important;}
.mt-0{margin-top: 0;}
.mr-20{margin-right: 20px!important;}
.pr-0{padding-right: 0!important;}
.b-r-0{border-radius: 0!important;}

.MUIRichTextEditor-placeHolder-169 {
    font-size: 14px;
}

.MuiFormControl-root {
    .MuiOutlinedInput-adornedStart {
        padding-left: 0;
    }
    .MuiOutlinedInput-root{
        background-color: white;
        // border-radius: 15px;
    }
}

.MuiInputBase-input {
    border-color:white;
    border:1;
}


.MuiInputBase-root {
    .MuiOutlinedInput-inputMarginDense {
        padding-top: 7.5px;
        padding-bottom: 7.5px;
    }
}

.MuiFormControl-fullWidth{
    .MuiInputLabel-outlined.MuiInputLabel-marginDense {
            font-size: 14px;
    }
}

.MuiFormControl-root .MuiInputLabel-root{
    font-size: 14px;
}
.delete-popup {
    .MuiDialog-paper {
        background-color:#FAFAFA;
        margin-right: 50px;
        min-width: 350px;
        border-radius: 15px;
        // margin-Bottom:110px;
    }
    .MuiDialogTitle-root {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #8f8484;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    // .MuiTypography-gutterBottom{
    //     // margin-bottom: 15px;
    // }
    DialogTitle {
        border-bottom: 1ps solid white;
    }
}

.mandal-premises {
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }
}
.MUIRichTextEditor-placeHolder-137{
    font-size: 14px;
    margin-left: 5px;
}

.mui-rte-container .MUIRichTextEditor-editorContainer-133 {
    padding: 0px 0px 8px 7px;
    font-size: 14px;
}


// Common Css
// .MuiBox-root {
//     .MuiButton-root:hover{
//         background-color: #df3088;
//         box-shadow: none;
//     }
// }

// .MuiButton-contained:hover {
//     background-color: #df3088 !important;
//     box-shadow: none;
// }
.MuiButton-root{
    padding:10px 16px !important;
}


.label {
    line-height: 2.0;
    box-shadow: none;
    color: #929294; 
    font-size: 13px;
    font-weight: 100;
    // display: block;
}
#root .MuiPaper-elevation1{
    border-radius: 15px;
    box-shadow: none;
    border: 1px solid 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: $boxShadow;
}



//About Mandal css
// .about-mandal .MuiTabs-flexContainer {
//     display: flex;
//     justify-content: center;
//     padding-top: 16px;
// }

.about-mandal-tabs {
    .MuiTabs-fixed {
        display: flex;
        justify-content: center;
    }
}





// Receipt Page css
.receipt-main-card {
    border-radius: 15px;
    background-color: #FAFAFA  !important;
    border: 1px solid #ccc9c9;
}

.apple-icon.MuiSvgIcon-root{
    position: absolute;
    top: -52px;
    right: -64px;
    color: #f3f3f3;
    border-radius: 15px;
    font-size: 250px;
    transform: rotate(-1deg);
    overflow: hidden;
}

.receipt-amout {
    font-size: 26px;
    font-weight: bold;
    line-height: 1;
}

.receipt-icon-b-border{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.receipt-avtar {
    width:80px !important;
    height: 80px !important;
}

::placeholder {
    font-size: 14px !important;
  }
 
.receipt-details{
    .MuiTypography-caption{
        font-family: 'Montserrat-Medium';
        letter-spacing: 0;
      }
      .paid{
        a{
            padding: 6px 16px!important;
        }
      }
      .card-wrap{
          padding: 30px;
      }
      .MuiCardContent-root:last-child{
          padding-bottom: 30px !important;
      }
     
        .circle{
            display: flex;
            justify-content: space-between;
            color: #f7f7f7;
            // margin-top: -60px;
            position: absolute;
            top: 40%;
            .icon{
                font-size: 60px;
            }
            .right-icon{
                position: absolute;
                right: -525px;
            }
            .left-icon{
                position: absolute;
                left: -28px;
            }
        }
      .payment-suc{
          text-align: center;
          border-bottom: 2px dashed rgba(0, 0, 0, 0.12);
          .successfully-text{
              margin-bottom: 0;
              color:#22d39a;
          }
          .successfully-icon{
              font-size:80px;
              color:#22d39a;
          }
          .transaction-n{
              font-size: 14px;
              color: $grey;
              margin-bottom: 8px;
          }
      }
      .py-20{
          padding: 20px 20px 0 20px;
      }
      .thank-you-title{
        text-align: center;
        //  padding-bottom: 30px;
         font-style: italic;
         font-family: initial;
         font-size: 60px;
         margin-top: 0;
        }
        //Circle shap paid
        .circle-shape{float:left;margin:10px;}
        .circle-4{
            position: absolute;;
            width:80px;
            right: -60px;
            top: -60px;
            height:80px;
            border:2px solid red;
            border-radius:50% 50% 50% 0;
            border-bottom:10px solid red;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .p-relative{
            position: relative;
        }
        .MuiCard-root{
            overflow: unset;
        }
}
.receipt{
    .receipt-image{
        position: absolute;
        top: 30px;
        right: 20px;
        width: 30%;
        color: #f3f3f3;
        border-radius: 15px;
        font-size: 250px;
        height: auto;
    }
}


//   About Mandal
.about-mandal {
    .MuiPaper-root{
        padding:0 !important;
    }
    .donation-details {
        border: 1px solid #ccc9c9;
        padding: 16px;
        border-radius: 15px;
        line-height: 1.8;
        // margin-top: 16px;
    }
    // .MuiGrid-spacing-xs-3 > .MuiGrid-item {
    //     padding: 0;
    // }

}
 


// edit-about-mandal

.edit-about-mandal {
    .editor #mui-rte-root {
        #mui-rte-container {
            padding: 0 3px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 150px;
            font-size: 14px;
            border: 1px solid #ccc9c9;
            border-radius: 15px;
        }
        #mui-rte-toolbar {
            order: 2;
            border-top: 1px solid #ccc9c9;
            padding: 5px 5px;
        }
        .MuiIconButton-root {
            padding: 3px;
            .MuiSvgIcon-root {
                height: 16px;
                width: 16px;
            }
        }
    }
    }


    // edit-donation-about-mandal

    .edit-donation-about-mandal {
        .editor #mui-rte-root {
            #mui-rte-container {
                padding: 0 3px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 150px;
                border: 1px solid #ccc9c9;
                font-size: 14px;
                border-radius: 15px;
            }
            #mui-rte-toolbar {
                order: 2;
                border-top: 1px solid #ccc9c9;
                padding: 5px 5px;
            }
            .MuiIconButton-root {
                padding: 3px;
                .MuiSvgIcon-root {
                    height: 16px;
                    width: 16px;
                }
            }
       
        }
    }




    // add-edit-event
    .add-edit-event {
        // .MuiButton-contained:hover{
        //     box-shadow: none;
        //     background: #df3088;
        // }
        .editor #mui-rte-root {
            #mui-rte-container {
            padding: 0 3px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 150px;
            font-size: 14px;
                #mui-rte-toolbar {
                order: 2;
                border-top: 1px solid #ccc9c9;
                border-radius: 15px;
                padding: 5px 5px;     
                }
           }
             
            // .MuiBox-root {
            //     // .MuiButton-root:hover {
            //     //     text-decoration: none;
            //     //     background-color: #df3088;
            //     // }
            // }
            .MuiSvgIcon-root {
                width: 16px;
                height: 16px;
            }
            .MuiIconButton-root {
                padding: 2px;
            }
        }
        .MuiOutlinedInput-input {
            font-size: 14px;
        }
    }
   
    .add-edit-event  {
        .MuiSvgIcon-root {
            height: 16px;
            width: 16px;
        }

        #mui-rte-container {
            display:flex;
            flex-direction: column;
            border: 1px solid #ccc9c9;
            padding: 3px;
            height: 150px;
            justify-content: space-between;
            font-size: 14px;
            border-radius: 15px;

            #mui-rte-toolbar {
                order: 2;
                border-top: 1px solid #ccc9c9;
                padding: 5px 5px;   
            }
        }
        .MuiIconButton-root{
            padding: 3px;
        }

        }
        


        // Event Page Css
        .events-page {
            // .MuiButtonGroup-root .MuiButton-containedPrimary {
            //     background-color:#df3088 ;
            // }

            // .MuiButton-root:hover:hover{
            //     box-shadow: none;
            //     background: #df3088;
            // }
            .ganesh-chathurti-description {
                line-height: 22px;
                font-size: 14px;
            }
        }
        .details-wrapper{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            align-items: center;
        }

        // Member Page Css

      .MuiCardContent-root  .member-photo {
            width: 80%;
            height: 200px;
            border-radius: 15px;
            margin: 0 auto;
        }



        // Setting page css
        
        .setting-page{
   
        // .MuiButton-containedPrimary {
        //     color: #fff;
        //     background-color: #df3088;
        // }
        //user
        .userseditform{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .useredit{
            display: flex;
            align-items: center;
            button{
                padding: 0;
                margin-left: 10px;
            }
        }
        //delete-popup
        .MuiCardContent-root:last-child{
            padding-bottom: 16px;
        }
  
    }
    .delete-post{
        h2{
         display: flex;
         justify-content: space-between;
         align-items: center;
        }
     }
     .popup-button{
         justify-content: flex-end!important;
         button{
             margin:  0 24px;
         }
     }
     .boxshadow{
        box-shadow: 0px 7px 30px 0px rgba(77, 84, 93, 0.08), 0px 9px 30px 0px rgba(0, 177, 179, 0.08), 0px 9px 1px -1px rgba(54, 98, 154, 0.08)!important;
     }
     .notification-wrapper{
        .MuiMenu-paper{
            border-radius: 15px;
        }
         ul{
             padding: 0;
             h3{
                 padding: 0 20px;
             }
         }
         .all-notification{
             background:#cccccc;
             padding: 16px;
         }
     }
     .opening-heading{
         display: flex;
         h3{
             margin: 0
         }
     }
     //Billing
     .billing-history{
         .billing-heading{
             display: flex;
             justify-content: space-between;
         }
         th.MuiTableCell-root.MuiTableCell-head {
            font-weight: 700;
            border-right: 1px solid #b4b4b4;
        }
     }
    //  .select-wrapper{
    //     .transform{
    //         transform: translate(14px, 11px) scale(1);
    //     }
    //  }
  
    // .slectbox{
    //     select{
    //         padding: 8px;
    //     }
    // }
//Pravin 
.MuiTypography-body1{
    font-family: 'Montserrat-Medium';
    font-size: 14px!important;
}
.iconposition{
    position: relative;
    .icon{
        position: absolute;
        top:28px;
        color: rgba(0, 0, 0, 0.54);
        padding-left: 10px;
        z-index: 1;
    }
    .MuiInputLabel-outlined{
        padding-left: 26px;
    }
    .MuiOutlinedInput-input {
        padding: 18.5px 42px;
        font-size: 14px;
        font-family: 'Montserrat-Medium';
    }
}
.PrivateNotchedOutline-legendLabelled-161{
    span{
        padding: 20px!important;
    }
} 
.changepass{
    .PrivateNotchedOutline-legendLabelled-161{
        span{
            padding: 0 5px 0 5px!important;
        }
    } 
}
// Receipt Form
.w-100{
    width: 100%;
}
.amount,.tab{
    flex: 1;
}
.date{
    margin:26px 0 26px 30px;
}
.latedate{
    flex:50%;
    margin: 26px 0 0 0;
}
.button{
    @include mt(2);
    text-align: right;
}
// .receipt-form{
//     // width:500px;
//     // margin:0 auto;
//     background:rgb(210, 216, 255);
// }
.heading{
    text-align: center;
}

.card-content{
    padding:30px!important;
    .pending-amount{
        font-size:30px;
        font-weight:600;
         line-height:1;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .amount-text{
        margin-top:20px;
        margin-bottom:0;
        font-size:13px;
    }
    .due-date{
        font-size:16px;
        font-weight:600;
    }
    .pending-name{
        font-size:18px;
        font-weight:600;
    }
    .due-date-text{
        font-size: 13px;
    }
    .pending-details{
        display:flex;
        justify-content:space-between;
    }
    .edit-icon{
        padding: 0;
    }
}
// Profile form
.mt-30{
    margin-top: 30px;
}
.h-600{
    height: 600px;
}
.profile{
    // width:440px;
    // margin:0 auto;
    padding-bottom: 20px;
    // background: #FAFAFA!important;
    // height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .profile-details{
        border-radius:20px;
        background:#fff9c7;
        h3{
            margin-bottom: 5px;
        }
    }
    .post{
        background: #fff;
    }
    .role{
        margin:0;
        font-size:12px;
    }
    .editprofile{
        text-align: right;
    }
    .profil-img{
        display:flex;
        // padding-bottom:16px;
    }
    .changephoto{
        text-align: right;
    }
    .follow{
        text-align: center;
        margin-top: 36px;
    }
}
.f-14{
    font-size: 14px;
}
//BAsic Information Form 
.basic-info{
    // margin: 20px 20px 0 20px;
    padding:10px;
    border-radius:15px!important;
}
.text-color-size{
    font-size:14px;
    color: rgba(0, 0, 0, 0.54);
}
//Account Setting
// .account-setting-wrap{
//     margin-top: 30px;
// }
//Add new post

.add-new-post{
    // margin-top: 30px;
    .icon{
        text-align: center;
    }
    .background-icon{
        font-size:170px!important;
        color:#80808057;
    }
    .add-new-button{
        text-align: center;
        margin-top: 26px;
    }
}
//Text Editor
.editor {
    .MUIRichTextEditor-placeHolder-316{
        position: absolute;
        // left: 65px;
        top: 18px;
        width: 80%;
    }
    #mui-rte-root{
        #mui-rte-container {
            padding: 0 3px;
            // height: 120PX;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           min-height: 120px;
            #mui-rte-toolbar {
                border-top: 1px solid #C4C4C4;
                order: 2;
                .MuiIconButton-root {
                    padding: 3px;
                    .MuiSvgIcon-root {
                        height: 23px;
                        width: 18px;
                    }
}
                }
                // .MUIRichTextEditor-placeHolder-480{
                //     // height: 90px;
                // }
            }
        }
    }
.editor {
    position: relative;
    #mui-rte-root{
        #mui-rte-container {
            #mui-rte-editor
                    {
                margin-top: 20px;
            }
        }
    }
    .user-pic{
        position: absolute;
    }
    .MUIRichTextEditor-placeHolder-480{
        padding: 8px 0 0 65px;
    }
    .MUIRichTextEditor-placeHolder-537{
        padding: 8px 0 0 65px;
    }
}
.editor #mui-rte-root #mui-rte-container #mui-rte-editor {
    margin: 0;
    padding-left:67px;
    margin-top: 10px;
}
.MUIRichTextEditor-placeHolder-169 {
    font-size: 14px;
}
.MuiFormControl-root {
    .MuiOutlinedInput-adornedStart {
        padding-left: 0;
    }
    .MuiOutlinedInput-root{
        background-color: white;
        // border-radius: 15px;
    }
}
.MuiInputBase-input {
    border-color:white;
    border:1;
}
.MuiInputBase-root {
    .MuiOutlinedInput-inputMarginDense {
        padding-top: 7.5px;
        padding-bottom: 7.5px;
    }
}
.MuiFormControl-fullWidth{
    .MuiInputLabel-outlined.MuiInputLabel-marginDense {
            font-size: 14px;
    }
}
//Commnets
textarea{
    border-radius: 10px;
    border-color: $grey;
    padding: 10px;
    min-height: 40px;
    font-size: $baseFont;
}
.comment-content{
    padding-left: 70px!important;
    .comments-action{
        a{
            font-size: 12px;
            margin-right: 10px;
            color: #838080;
            text-decoration: none;
        }
    }
    .comment-paragraph{
        font-size: 14px;
        margin-bottom: 10px;
    }
}
.comment-border{
    border-top:1px solid $borderColor;
    border-bottom:1px solid $borderColor;
}
.post-card{
    box-shadow: 0px 7px 30px 0px rgba(77, 84, 93, 0.08), 0px 9px 30px 0px rgba(0, 177, 179, 0.08), 0px 9px 1px -1px rgba(54, 98, 154, 0.08)!important;
    border-radius:20px!important;
    margin-bottom: 30px;
}
//Delete Popup
.delete-post-heading{
    h2{
        font-weight: 600;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
}
.popup-button{
    justify-content: flex-end!important;
    button{
        margin: 0 18px;
    }
}
.f-w-600{
    font-weight: 600;
}
.reply-field{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    .send{
        position: absolute;
        top: 5px;
        right: 9px;
        color: rgba(0, 0, 0, 0.54);
    }
}
.button-wrapper{
    margin-top: 10px;
    text-align: right;
    button{
        margin-right: 10px;
    }
}
.edit-text{
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    &:focus{
        outline: none;
    }
}

button.MuiButton-contained,
.MuiButtonBase-root,
.events-page .MuiButtonGroup-root .MuiButton-containedPrimary,
button.MuiButton-outlinedSizeSmall,
a.MuiButton-outlined{
    background-color: $primary;
    &:hover{
        background-color: darken($color: $primary, $amount: 15) !important;
        color: $white;
    }
}
.MuiButton-containedPrimary{
    background-color: $primary!important;
}
//Notification
.mt-auto{
    margin-top: auto !important;
}
.notification-wrapper .MuiMenu-paper{
    .MuiCard-root{
        position: relative;
        .MuiCardContent-root{
            position: absolute;
            right: 0;
            top: 0;
            span{
                font-size: 11px;
            }
        }
    }
}

//wrapper
.main-wrapper{
    max-width: 700px;
    margin: 0px auto;    
    // @include my(3);
}
.editor{
    box-shadow: 1px 0px 30px rgba(77, 84, 93, 0.08);
    background: $white;
}
.MuiTypography-noWrap{
    color: $white;
}
.MuiCardHeader-root .MuiCardHeader-action{
    align-self: initial;
    margin-top: 0;
    margin-right: 0;
}
.MuiAvatar-colorDefault.MuiAvatar-circle,
.MuiBadge-colorSecondary.MuiBadge-badge{
    background-color: $secondary;
}
.notification-wrapper .all-notification{
    background-color: $grey;
    a{
        color: $textColor;
    }
}
//Choose file css
.file-input {
    display: inline-block;
    text-align: left;
    // background: #fff;
    // padding: 16px;
    width: 100%;
    position: relative;
    border-radius: 15px;
    box-sizing: border-box;
  }
  
  .file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }
  
  .file-input > .button {
    display: inline-block;
    cursor: pointer;
    background: #fb734e;
    padding: 8px 16px;
    border-radius: 30px;
    margin-right: 8px;
    color:white;

  }
  
  .file-input:hover > .button {
    background: dodgerblue;
    color: white;
  }
  
  .file-input > .label {
    color: #333;
    white-space: nowrap;
    // opacity: .3;
  }
  
  .file-input.-chosen > .label {
    opacity: 1;
  }



// Events Slider Page
.slick-slide h3{
  text-align: center;
  color: $textColor;
  background: $primary;
  margin: 10px;
}
.px-3{
    @include px(3);
    width: auto !important;
    &:focus{
        outline: none;
    }
}

//Login form
.signup-form,.login-form {
    padding: 25px;
}
.login__button-box {
    display: flex;
    justify-content: space-around;
}
.form{
    margin:30px  auto;
    display: block;
    max-width: 450px;
    min-width: 337px;
    text-align: center;
    
    .MuiOutlinedInput-root-293 .MuiOutlinedInput-notchedOutline-300{
        // border-radius: 50px;
        border-color:#edf0f7;
    }
 

}
.w-100{
    width: 100%;
}
.p-30{
    padding: 30px;
}
//Tab
.receipt-form{
    .MuiTabs-flexContainer{
        justify-content: center;
    }
    .receipt-header{
        display: flex;
        // justify-content: center;
        align-items: center;
        box-shadow: none;
    }
    .MuiTab-root{
        text-transform: capitalize;
        font-family: 'Montserrat-Medium';
        width: 100%;
    }
    .receipt-inner{
        max-width:700px ;
        margin: 0 auto;
    }
    .pending-card{
        margin-bottom:20px;
        border-radius:15px!important;
        margin-top:26px;
        // width:420px;
        box-shadow: 4px 5px 14px -2px rgba(0,0,0,0.33);
    }
    .button{
        margin-top: 20px;
    }
}

//Login Form
.login-form{
  
    // .MuiFormControl-root-215{
    //     width: 100%;
    //     margin-top: 26px;
    // }
    .text-right{
        text-align: right;
        a{
            font-size: 14px;
             color: #808080;
        }
    }
    .sign{
        font-size: 13px;
        margin-left: 10px;
        font-family: 'Montserrat-Medium';
    }
    .social-button{
        justify-content: space-evenly!important;
        margin-top: 30px;
        button{
            border: 1px solid #eaeaea;
            border-radius: 4px;
            padding: 9px 14px;
        }
    }
 
    .fa-facebook{
        color: #4266b2;
       
    }
    .fa-google-plus{
        color: #db4437;
    }
}
.mt-5{
    margin-top: 40px;
}
// .MuiFormControl-root-215{
//     margin-top: 26px !important;
//     width: 100%;
// }

.MuiButton-containedPrimary-279{
    color: #fff!important;
}
.account{
    font-size: 12px;
    color: #878484;
    margin:20px 0 0 0 ;
    a{
        text-decoration: none;
        color: $grey;
    }
}
.form{
    form {
        fieldset {
            // border-radius: 50px!important;
            border-color:#edf0f7;
          }
    }
}
.MuiTableCell-paddingNone{
    border-right: 1px solid #b4b4b4;
    padding: 16px!important;
}
.MuiTableCell-alignRight{
    border-right: 1px solid #b4b4b4;
    text-align: center!important;
}
.MuiTableHead-root{
    border-top: 1px solid #b4b4b4;
}
.MuiTableCell-head{
    font-weight: 600!important;
}
.MuiTableCell-root{
    border-right: 1px solid #b4b4b4;   
}
// Homepage
.editor #mui-rte-root #mui-rte-container #mui-rte-toolbar{
    padding: 3px;
}
.editor #mui-rte-root #mui-rte-container #mui-rte-toolbar .MuiIconButton-root{
    padding: 5px;
}
.editor #mui-rte-toolbar+div {
    margin: 0;
    padding-left: 67px;
    margin-top: 10px;
}
.public-DraftEditor-content h2{
    margin-top: 0;
    word-break: break-word;
}
fieldset.MuiOutlinedInput-notchedOutline{
    border: 1px solid #e5e5e5;
}
.post-card{
    .MuiButtonBase-root:hover{
        background-color: transparent !important;
        color: darken($grey, 20%);
    }
}
.MuiCardContent-root:last-child{
    padding-bottom: 16px!important;
}

// Login Page
.account{
    a{
        // color: $secondary;
        &:hover{
            color: darken($secondary, $amount: 10%);
        }
    }
}
.login-form .text-right a{
    color: $grey;
    font-size: 12px;
    text-decoration: none;
    &:hover{
        color: darken($secondary, $amount: 10%);
    }
}
.form form fieldset,
.login-form .social-button button{
    border: 1px solid #e5e5e5;
}
.login-form .social-button button:hover{
    background-color: $primary;
    border-color: $primary;
    color: $white;
    .fab{
            color: $white;
    }
}
.form form{
    .MuiOutlinedInput-input{
        padding: 14.5px 14px;
        line-height: 1.5;
        font-size: 14px;
    }
    legend{ height: 18px;}
    fieldset{
        &:hover{
            border-color: $borderColor;
        }
    }    
}
.h-100vh{
    height: 100vh;
}
.login-form{
    .MuiFormControl-root{
        min-width: auto;
        width: 100%;
    }
}
.MuiFormControl-fullWidth.MuiFormControl-root{
    min-width: auto;
    width: 100%;
}
// Forgot Password Page
.forgot-form{
    padding: 25px;
    // height: calc(100vh - 96px);
    .MuiFormControl-root{
        margin-top: 0;
    }
    .title{
        margin-top: 0;
    }
    .forgot-message{
        font-size: 13px;
        margin-bottom: 20px;
        color:$grey;
    }
}
.signup-button.mt-3{
    @include mt(3);
}

.signup-button{
    margin-top: 20px!important;
}


.footer-wrap{
    width: 100%;
    height: 40px;
    background: #202020;
    display: flex;
    justify-content: center;
    
    .copright{
        color: $white;
        font-size: 12px;
        a{
            color: $grey;
            text-decoration: none;
            &:hover{
                color: darken($secondary, $amount: 10%);
            }
        }
    }
}
// Footer Bottom
html,
body,
#root{
    height: 100%;
}
#root>div{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}
@media screen and (max-width: 620px){
    .main-wrapper{
        padding: 15px 0px;
    }
    .comment-content{
        padding-left: 15px !important;
    }
    .comments-action{
        @include mt(2);
    }
    .form{
        margin: 0 auto;
        width: 100%;
        min-width: 300px;
        .b-radius{
            border-radius: 0 0 30px 30px !important;
        }
    }
    .signup-form,.login-form{
        height: calc(100vh - 96px);
    }
}
.color-text{
    color: $white;
    font-size: 14px;
}
@media screen and (max-width: 420px){
    .signup-form,.login-form{
        height: calc(100vh - 96px);
    }
}
